/* Prevent mobile browsers from bouncing / overscrolling on page */
html,body {
    overflow: hidden;
    overscroll-behavior-y: none;
}

ul {
    padding-left: 1rem;
}

body {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

.game-container {
    margin: 0 auto;
    max-width: 22rem;
}

.title {
    text-align: center;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.stats-container label {
    color: grey;
}

.stats-container span {
    font-weight: bold;
}

.grid-centering {
    display: flex;
    align-items: center;
}
.grid-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.2rem auto;
}

.grid-row {
    display: flex;
}

.grid-cell {
    flex: 1;
    height: 59px;
    width: 59px;
    border: 1px solid grey;
    margin: 2px;
}

.tile {
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border: 2px solid lightgrey;
    background-color: grey;
}

.tile-a {
    border-color: lime;
    background-color: green;
}

.tile-b {
    border-color: yellow;
    background-color: gold;
}

#tile-container {
    display: inline;
}

.instructions {
    font-size: 0.6rem;
}

.control-container {
    margin: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
}

.control-button {
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    color: grey;
    font-size: 1.2rem;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.word-container {
    display: flex;
    justify-content: space-around;
}

#word-input {
    margin-top: 2rem;
    height: 2.5rem;
    width: 10rem;
    border: 2px solid lightgrey;
    color: grey;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.3rem;
}

#word-input:focus {
    outline: none;
}

#modal-game-over {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: black;
    opacity: 0.9;
    color: white;
}

#game-over-summary {
    margin-bottom: 2rem;
}

#game-over-word-list {
    display: flex;
    margin-bottom: 2rem;
}

.game-over-word {
    color: black;
    font-weight: bold;
    background-color: aqua;
    margin: 0.5rem;
    padding: 0.1rem 0.3rem;
    border-radius: 1rem;
}

/* Shaking animation on word input */
#word-input.error {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.15em red;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: 0.5rem;
    }

    75% {
        margin-left: -0.5rem;
    }

    100% {
        margin-left: 0rem;
    }
}
