.game-container {
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
}
.game-tile {
    border: 1px solid grey;
    height: 2rem;
    width: 2rem;
}
.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12rem;
    width: 12rem;
    padding: 0.4rem;
    background-color: grey;
}
.grid-row {
    display: flex;
    justify-content: space-between;
}
.grid-cell {
    height: 2rem;
    width: 2rem;
    background-color: lightgrey;
    border: 1px solid black;
}
